In [5]:
import pandas as pd

In [20]:
#[q-1]

ser=pd.Series([4, 8, 15, 16, 23, 42])

In [21]:
ser

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [18]:
#[q-2]
l=[1,2,3,4,5,6,7,8,9,10]
s1=pd.Series(l,)

In [19]:
s1

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [27]:
#[q-3]
d={"name":["Alice","Bob","Classic"],"age":[25,30,27],"gender":["female","male","female"]}

In [28]:
pd.DataFrame(d)

      name  age  gender
0    Alice   25  female
1      Bob   30    male
2  Classic   27  female

In [ ]:
#[4]:
-A Data Frame is a two-dimension collection of data.
-It is a data structure where data is stored in tabular form. 
-Datasets are arranged in rows and columns; we can store multiple datasets in the data frame.
-We can perform various arithmetic operations, such as adding column/row selection and columns/rows in the data frame.

#EXAMPLE:
import pandas as pd  
  
# Calling DataFrame constructor  
df = pd.DataFrame()  
  
print(df)

In [ ]:
#[5]:
-Apply Function in Pandas
-Dropping columns in the data.
-Dropping rows in the data.
-Renaming a column in the dataset.
-Select columns with specific data types.
-Slicing the dataset.

#EXAMPLE:
pd.read_csv("/n any url")

In [ ]:
#[6]:
Dataframe is a mutable.

In [30]:
#[7]:

'''
-you can create a DataFrame from multiple Series objects by adding each series as a columns.
-By using concat() method you can merge multiple series together into DataFrame.
-This takes several params, for our scenario we use list that takes series to combine and axis=1 to specify merge series as columns
 instead of rows.
 
'''
#EXAMPLE:
    
import pandas as pd
# Create pandas Series
courses = pd.Series(["Spark","PySpark","Hadoop"])
fees = pd.Series([22000,25000,23000])
discount  = pd.Series([1000,2300,1000])

df=pd.concat([courses,fees,discount],axis=1)
print(df)

         0      1     2
0    Spark  22000  1000
1  PySpark  25000  2300
2   Hadoop  23000  1000