In [6]:
import pandas as pd

In [8]:
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [9]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [10]:
#[q-1]=============================================================================================
df1=pd.DataFrame(data={'course_name':'Big Data','duration':[6]})

In [11]:
df1

  course_name  duration
0    Big Data         6

In [ ]:
#[q-2]============================================================================================

-loc and iloc are both used to select data from a Pandas DataFrame, but they differ in how they reference the rows and columns of the DataFrame.

-loc is primarily label based, which means that you can use row and column labels to select data. 
-For example, you can use the following code to select the data in the row with index label "A" and the column with label "B":
    df.loc["A", "B"]
    
-iloc, on the other hand, is primarily integer position based, which means that you can use integer indices to select data. 
-For example, you can use the following code to select the data in the first row and second column:
    df.iloc[0, 1]

In [12]:
#[q-3]===============================================================================================
reindex = [3, 0, 1, 2]
new_df = df.reindex(reindex)

In [13]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [14]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [15]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [ ]:
yes,there is the difference between the both questions.in the loc ,ther is 2 name and in iloc there is only 1 name

In [9]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [10]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.416278  0.112260  0.676472  0.785648  0.560270  0.700541
2  0.622766  0.032711  0.918325  0.887240  0.292347  0.631071
3  0.202763  0.530772  0.767690  0.136784  0.218878  0.683119
4  0.044648  0.423259  0.320148  0.559491  0.602659  0.252723
5  0.282584  0.050669  0.650257  0.133372  0.538309  0.728499
6  0.589432  0.428010  0.467155  0.323761  0.093885  0.748169

In [2]:
#pd.Timedelta(days=1,hours=5,minutes=45,seconds=49)

Timedelta('1 days 05:45:49')

In [11]:
#[q-4]==================================================================================
import pandas as pd
df1.mean()

column_1    0.359745
column_2    0.262947
column_3    0.633341
column_4    0.471049
column_5    0.384391
column_6    0.624020
dtype: float64

In [12]:
df1.std()[1:2]

column_2    0.221564
dtype: float64

In [13]:
#[q-5]===============================================================================
df1.loc[2, 'column_2'] = 'string'

In [31]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.408743  0.999944  0.474180  0.827490  0.009256  0.373866
2  0.019022    string  0.617653  0.770530  0.391943  0.915952
3  0.284755  0.384957  0.467352  0.892219  0.509827  0.801742
4  0.395975  0.552195  0.615346  0.909033  0.976960  0.795034
5  0.132781  0.840318  0.605930  0.640412  0.061807  0.630500
6  0.801260  0.500863  0.925274  0.056024  0.036975  0.582227

In [14]:
mean_column_2 = df1['column_2'].mean()

print('Mean of column_2 after replacing the value:', mean_column_2)

Note: We may get an error if the data type of the column is not compatible with the string value being used for replacement. 
For example, if the column

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [37]:
mean_column_2

1    0.999944
2      string
3    0.384957
4    0.552195
5    0.840318
6    0.500863
Name: column_2, dtype: object

In [ ]:
#[q-6]==================================================================================
In pandas, a window function is used to perform a calculation across a specified subset of data in a DataFrame or a Series.
It is called a "window" because it works on a sliding window of data defined by the user.

There are several types of window functions available in pandas, including:

-Rolling Functions:
    These functions compute a rolling statistic on a series or a dataframe over a defined window size. For example, rolling_mean() calculates the rolling mean of a series over a given window size.

-Expanding Functions: 
    These functions calculate a statistic on all the data available up to the current point in time. For example, expanding_mean() calculates the mean of all the values in a series up to the current row.

-Exponential Moving Functions: 
    These functions calculate a weighted moving average of a series, with more weight given to recent values. For example, ewm() calculates the exponential moving average of a series.

-Aggregation Functions: 
    These functions compute an aggregated statistic across a defined window. For example, rolling_sum() calculates the rolling sum of a series over a given window size.

-Rolling Apply Functions:
    These functions apply a user-defined function to each rolling window of data. For example, rolling_apply() applies a custom function to each rolling window of a series.

-Window Functions with GroupBy:
    These functions are similar to the above-mentioned functions, but they are applied to groups of data defined by a grouping column. For example, rolling().mean() can be used to calculate the rolling mean of a series for each group defined by a grouping column.

Overall, window functions provide a lot of flexibility in performing complex calculations on data in pandas. They

In [23]:
#[q-7]==========================================================================
import datetime

In [24]:
now=datetime.datetime.now()

In [25]:
current_month=now.month
current_year=now.year

In [26]:
print("current month and year is :",current_month,current_year)

current month and year is : 3 2023

In [41]:
#[q-8]=============================================================================
import pandas as pd

date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

time_diff = date2 - date1
print(time_diff)

Enter the first date (YYYY-MM-DD):  2023-01-02
Enter the second date (YYYY-MM-DD):  2023-03-12

69 days 00:00:00

'\ndays_diff = time_diff.days\nhours_diff = time_diff.seconds // 3600\nminutes_diff = (time_diff.seconds // 60) % 60\n\nprint(f"The difference between {date1} and {date2} is {days_diff} days, {hours_diff} hours, and {minutes_diff} minutes.")\n'

In [ ]:
#[q-9]======================================================================================
import pandas as pd

file_path = input("Enter the file path: ")
column_name = input("Enter the column name: ")
category_order = input("Enter the category order (comma-separated): ")

df = pd.read_csv(file_path)

categories = category_order.split(",")
cat_dtype = pd.CategoricalDtype(categories=categories)
df[column_name] = df[column_name].astype(cat_dtype)

df = df.sort_values(by=column_name)

print(df)

In [ ]:
#[q-10]==================================
import pandas as pd
import matplotlib.pyplot as plt

# Prompt the user to enter the file path
file_path = input("Enter the file path: ")

# Read the CSV file into a pandas DataFrame
df = pd.read_csv(file_path)

# Convert the 'date' column to a datetime data type
df['date'] = pd.to_datetime(df['date'])

# Group the data by product category and date and sum the sales
grouped_df = df.groupby(['product_category', 'date'])['sales'].sum().reset_index()

# Pivot the data to create a stacked bar chart
pivot_df = pd.pivot_table(grouped_df, values='sales', index='date', columns='product_category')

# Visualize the data using a stacked bar chart
pivot_df.plot(kind='bar', stacked=True)
plt.xlabel('Date')
plt.ylabel('Sales')
plt.title('Sales by Product Category Over Time')
plt.show()

In [ ]:
#[q-11]===================================
import pandas as pd

# Prompt user for file path
file_path = input("Enter the file path of the CSV file containing the student data: ")

# Read CSV file into a Pandas DataFrame
df = pd.read_csv(file_path)

# Calculate mean, median, and mode of the test scores
mean_score = df['Test Score'].mean()
median_score = df['Test Score'].median()
mode_score = df['Test Score'].mode()

# Display the results in a table
results = pd.DataFrame({'Statistic': ['Mean', 'Median', 'Mode'],
                        'Value': [mean_score, median_score, list(mode_score)]})
print(results.to_string(index=False))

Output:
    
Enter the file path of the CSV file containing the student data: student_data.csv
 Statistic      Value
      Mean      82.0
    Median      82.0
      Mode      [85.0, 90.0]