In [ ]:
#[1]:
A database is a structured collection of data that can be stored, organized, and managed in such a way that it can be easily accessed, managed, 
and updated. It allows users to store, retrieve, and manipulate data efficiently.

SQL and NoSQL databases are two different types of databases with distinct architectures, features, and capabilities:
    
*SQL Databases:
-SQL (Structured Query Language) databases are relational databases that store data in a structured way with predefined relationships between tables. 
-SQL databases are based on the ACID (Atomicity, Consistency, Isolation, and Durability) properties, which ensure that data remains consistent,
even in the event of system failure.

*NoSQL Databases:
-NoSQL (Not Only SQL) databases are non-relational databases that store data in a more flexible and scalable way.
-They do not rely on predefined schema, and data can be added and updated in real-time without interrupting the application.
-NoSQL databases are based on the CAP (Consistency, Availability, and Partition tolerance) theorem, which guarantees high availability and 
partition tolerance at the expense of some level of consistency.

In [ ]:
#[2]:
-DDL stands for Data Definition Language, which is a set of SQL commands used to define the structure of a database schema, create and modify 
database objects such as tables, indexes, and constraints.

The following are some of the most commonly used DDL commands:
#[1]:
CREATE:
The CREATE command is used to create a new database object such as a table, view, or index. 

#[2]:
DROP:
The DROP command is used to delete an existing database object.

#[3]:
ALTER:
The ALTER command is used to modify the structure of an existing database object.

#[4]:
TRUNCATE:
The TRUNCATE command is used to delete all data from a table without deleting the table structure.

In [ ]:
#[3]:
DML stands for Data Manipulation Language, which is a set of SQL commands used to manipulate the data stored in a database.

#[1]:
INSERT:
The INSERT command is used to insert new data into a table.

#[2]:
UPDATE:
The UPDATE command is used to modify existing data in a table. 

#[3]:
DELETE:
The DELETE command is used to delete one or more rows from a table.

In [ ]:
#[4]:
-DQL stands for Data Query Language, which is a set of SQL commands used to retrieve and manipulate data from a database. 
-The most commonly used DQL command is SELECT, which is used to retrieve data from one or more tables.
#syntax:
SELECT column1, column2, ... FROM table_name WHERE condition;

#Ex:
SELECT * FROM customers;

In [ ]:
#[5]:
#primary key:
A primary key is used to ensure data in the specific column is unique. 
#foreign key:
A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables.

In [ ]:
#[6]:
import mysql.connector
# Create a connection object
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)
# Create a cursor object
mycursor = mydb.cursor()
# Use the cursor to execute a SQL query
mycursor.execute("SELECT * FROM customers")
# Get the results of the query
myresult = mycursor.fetchall()
# Print the results
for x in myresult:
    print(x)

In [ ]:
#[7]: